.flexSB {
  width: 100%;
  height: 100%;
  padding: 0 100px;
  width: min(100%, 1000px);
  margin: 0 auto;
}

.aboutWrapper h2 {
  font-size: 2rem;
  line-height: 0.9;
  font-weight: 600;
  margin: 14px 20px 0 0;
  color: var(--black-gray);
}

.aboutWrapper p {
  line-height: 2;
  font-weight: 400;
}

.profileImg {
  margin: 0 auto;
  float: right;
  margin: 10px 0 0 10px;
  box-shadow: 0px 0px 2px 2px rgba(97, 97, 97, 0.315);
  -webkit-box-shadow: 0px 0px 2px 2px rgba(97, 97, 97, 0.315);
  -moz-box-shadow: 0px 0px 2px 2px rgba(97, 97, 97, 0.315);
}

.introduction {
  margin-top: 10px;
  letter-spacing: 0.6px;
  font-weight: 400;
  width: min(100%, 1000px);
}

.educationWrapper {
  padding: 20px 0;
}

.educationWrapper h4,
.skillsWrapper h4 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.educationWrapper p {
  font-style: italic;
}

@media (max-width: 1920px) {
  .flexSB {
    padding: 0 100px;
  }
}

@media (max-width: 1400px) {
  .flexSB {
    padding: 0 50px;
  }
}

@media (max-width: 1024px) {
  .flexSB {
    padding: 0 20px;
  }
}

@media (max-width: 840px) {
  .profileImg {
    display: none;
  }
}
@media (max-width: 768px) {
  .flexSB {
    padding: 0 10px;
  }

  .aboutWrapper h2 {
    font-size: 2rem;
  }
}
