.clipPath {
  position: absolute;
  width: 100%;
  height: 100vh;
  -webkit-clip-path: polygon(100% 40%, 100% 100%, 40% 100%);
  clip-path: polygon(100% 40%, 100% 100%, 40% 100%);
  background: var(--black-gray);
  z-index: -1;
}

.aboutSection {
  height: 100vh;
}

.backButton {
  border-radius: 50%;
  border: none;
  margin: 14px;
  background-color: var(--white);
}

.backIcon {
  width: 100%;
  height: 100%;
}

.flexSB {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.aboutPart {
  width: 50%;
  color: var(--white);
}

.hireContainer {
  background-color: var(--black-gray);
  border-radius: 5px;
  margin: 0 10px;
}

.skillsPart {
  width: 50%;
  color: var(--black-gray);
}

.skillsContainer {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .aboutPart {
    width: 100%;
  }

  .skillsPart {
    width: 100%;
  }

  .aboutPartTitle h2,
  .skillsPartTitle h2 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .aboutPartTitle h2,
  .skillsPartTitle h2 {
    font-size: 1.6rem;
  }
}
