.flexSB {
  height: calc(100vh - 69px);
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  overflow: hidden;
}

.homeInfo {
  width: 100%;
  align-self: center;
  z-index: 0;
}

.name {
  font-size: clamp(2.6rem, 5vw, 4rem);
  font-weight: 600;
  line-height: 80%;
  letter-spacing: 0.6px;
  color: var(--black-gray);
}

.work {
  font-weight: 400;
  margin: 5px 0;
  color: var(--red-orange);
  font-size: 1rem;
}

.tagline {
  max-width: 700px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--black-gray);
  margin-bottom: 15px;
  letter-spacing: 0.4px;
}

.explore {
  display: inline-block;
  background-color: var(--black-gray);
  color: var(--white);
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 400;
  margin-right: 5px;
  text-decoration: none;
  padding: 9px 20px;
}

.explore:hover {
  background-color: var(--black-gray-hover);
}

.contact {
  display: inline-block;
  background-color: var(--white);
  border-radius: 6px;
  color: var(--black-gray);
  border: 1px solid var(--black-gray);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  padding: 9px 20px;
}

.contact:hover {
  background-color: var(--black-gray);
  color: var(--white);
}

@media (max-width: 1980px) {
  .flexSB {
    padding: 0 100px;
  }
}

@media (max-width: 1600px) {
  .flexSB {
    padding: 0 50px;
  }
}

@media (max-width: 1024px) {
  .flexSB {
    padding: 0 20px;
  }
  .homeInfo {
    width: 80%;
  }
  .homeInfoP {
    font-size: 1rem;
  }
}

@media (max-width: 798px) {
  .flexSB {
    height: 100vh;
    margin: 0 10px;
  }

  .homeInfo {
    width: 100%;
  }

  .work {
    margin: 5px 0;
  }

  .tagline {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .flexSB {
    padding: 0 10px;
  }
}

@media (max-width: 340px) {
  .flexSB {
    padding: 10px 0;
  }
}
