.navbarDiv {
    display: flex;
    justify-content: flex-end;
    color: transparent;
    margin-right: 10px;
}

.menuButton {
    border-radius: 50%;
    border: none;
    margin: 14px;
    height: 36px;
}

.menuIcon {
    width: 100%;
    height: 100%;
}

li {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 10px;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 400;
}

li:hover {
    background-color: #ffffff;
    background-color: #f0f0f0;
}


li a {
    text-decoration: none;
    color: #000;
}

li a:active {
    text-decoration: none;
    color: blue;
}


@media (max-width:768px) {
    .navbarDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-right: 10px;
        width: 100%;
        height: 100vh;
        position: fixed;
        left: -100%;
        transition: left 0.4s ease-in;
        text-align: center;
    }

    nav {
        width: 100%;
    }

    .active {
        left: 0;
    }

    li {
        display: block;
    }
}