.navbarDiv {
    display: flex;
    justify-content: flex-end;
    color: transparent;
    margin-right: 10px;
}

li {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 10px;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 400;
}

li:hover {
    background-color: #ffffff;
    background-color: #f0f0f0;
}


li a {
    text-decoration: none;
    color: #000;
}

li a:active {
    text-decoration: none;
    color: blue;
}