.clipPath {
    position: fixed;
    width: 100%;
    height: 100vh;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background: var(--black-gray);
    z-index: -1;
}

.backButton {
    border-radius: 50%;
    border: none;
    margin: 14px;
    height: 36px;
}

.backIcon {
    width: 100%;
    height: 100%;
}

.projectTitle {
    padding: 14px 20px;
}

.projectTitle h2 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--dark-blue);
    letter-spacing: 0.6px;
    text-align: center;
    line-height: 0.9;
}

.projectTitle p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--dark-blue);
    letter-spacing: 0.6px;
    text-align: center;
}

.techStack {
    font-weight: 600;
}

@media (max-width:768px) {
    .projectTitle h2 {
        font-size: 1.6rem;
    }
}

@media (max-width:480px) {
    .projectTitle h2 {
        line-height: 2;
        font-size: 1.2rem;
    }

    .projectTitle p {
        font-size: 0.8rem;
    }
}