.projectTitle {
  padding: 14px 20px;
  color: var(--dark-blue);
}

.projectTitle h2 {
  font-size: 2.6rem;
  font-weight: 900;
  text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.6px;
  text-align: center;
  line-height: 0.9;
}

.projectTitle p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark-blue);
  letter-spacing: 0.6px;
  text-align: center;
}

.buttonLists {
  display: flex;
  justify-content: center;
}

.buttonLists button {
  background-color: var(--red-orange);
  color: var(--white);
  margin: 0 5px 14px;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.buttonLists button:hover {
  background-color: var(--red-orange-hover);
  color: var(--white);
}

.projectLists {
  display: grid;
  grid-template-columns: minmax(300px, 600px) minmax(300px, 600px);
  gap: 10px;
  padding: 10px;
  justify-content: center;
}

.techStack {
  font-weight: 600;
}

@media (max-width: 840px) {
  .projectLists {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    padding: 10px;
  }

  .projectTitle {
    margin-top: 32px;
  }
}

@media (max-width: 768px) {
  .projectTitle h2 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .projectTitle h2 {
    font-size: 1.6rem;
  }

  .projectTitle p {
    font-size: 0.8rem;
  }
}
