.projectsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 2em 20px;
}

.projectsList:nth-child(odd) {
  flex-direction: row-reverse;
}

.projectsList:nth-child(odd) .description {
  width: 49%;
  padding: 12px 10px;
  background-color: var(--black-gray);
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.projectsList:nth-child(even) .description {
  box-shadow: 6px 2px 8px 2px rgba(41, 50, 65, 0.59);
  -webkit-box-shadow: 6px 2px 8px 2px rgba(41, 50, 65, 0.59);
  -moz-box-shadow: 6px 2px 8px 2px rgba(41, 50, 65, 0.59);
}

.primaryImg {
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.15) -1.95px -1.95px 2.6px;
}

.primaryImg img {
  object-fit: contain;
  aspect-ratio: auto 1360 / 768;
}

.description {
  width: 49%;
  padding: 12px 10px;
  background-color: var(--white);
  color: var(--black-gray);
}

.description h1 {
  display: inline;
  font-weight: 700;
  font-size: 1.3rem;
}

.description h4::before {
  content: " ";
}

.description h4 {
  display: inline;
  font-weight: 500;
  font-size: 1rem;
}

.description p {
  font-size: 1rem;
  margin-bottom: 5px;
}

.projectLinks {
  font-size: 14px;
}

.projectLinks span {
  display: block;
}

.projectLinks span a {
  color: var(--red-orange);
  padding: 0 3px;
}

.techStacks {
  text-align: right;
}

.techStacks p {
  font-size: 16px;
  font-weight: 600;
}

.techStacks ul {
  line-height: 14px;
}

.techStacks li {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}

.description li::before {
  content: "/";
}

@media (max-width: 910px) {
  .projectsList {
    flex-wrap: wrap;
    border-radius: 20px;
  }

  .primaryImg {
    width: 100% !important;
    border-radius: 0 0 20px 20px !important;
    box-shadow: rgba(0, 0, 0, 0.15) -1.95px 1.95px 2.6px;
  }

  .primaryImg img {
    border-radius: 5px 5px 0 0 !important;
    box-shadow: rgba(0, 0, 0, 0.15) -1.95px 1.95px 2.6px;
  }

  .description {
    width: 100% !important;
    border-radius: 0 0 5px 5px !important;
    box-shadow: rgba(0, 0, 0, 0.15) -1.95px 1.95px 2.6px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.2rem;
  }
}
