@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");

:root {
  --dark-blue: #3d5a80;
  --blue: #98c1d9;
  --light-blue: #e0fbfc;
  --red-orange: #ee6c4d;
  --black-gray: #293241;
  --white: #fff;
  --light-bg: #f0f0f0;
  --red-orange-hover: rgb(202, 79, 49);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, sans-serif;
}

p {
  user-select: none;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-blue);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--red-orange);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d44d2c;
}

.carousel .control-dots .dot {
  background: var(--black-gray) !important;
}
